# LiveKit Cloud settings
LIVEKIT_URL=wss://mia-qty6wlhv.livekit.cloud
LIVEKIT_API_KEY=APIEkHLLXJztZhv
LIVEKIT_API_SECRET=r9XIHIhhQY7ZuviZR7YgqpZM9BlYIyBeDCYnoSi42OE

# Google API key (Gemini Realtime API)
GOOGLE_API_KEY=AIzaSyAW8NGrXIP-1LVaq--emN436FDpXVuMop4

# Email account for notifications (optional)
GMAIL_USER=your_email@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password_here
